<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Position</title>
</head>
<body>
    <div>
        <h4>New Position:</h4>
        <ul>
            <li>Category: {{array.category}}</li>
            <li>Level: {{array.level}}</li>
            <li>Company: {{array.company}}</li>
            <li>Japanese required: {{array.japaneseRequired}}</li>
            <li>Description: {{array.description}}</li>
        </ul>
    </div>
</body>
</html>